<div class="nav">
  <div class="brand-icon"><i class="fa-solid fa-copyright"></i></div>
  <div class="container">
    <input type="search" matInput placeholder="Search" name="search" />
    <button matSuffix mat-button class="search-btn">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <i class="fa-solid fa-m mountain"></i>
</div>
<div class="wrapper">
  <div class="body grid-container">
    <div class="container1">
      <div class="container1-1">
        <div class="icon1-1">
          <div class="icon1-1-inner"><i class="fas fa-user icon1"> </i></div>
          <div class="icon1-1-inner-1"><h1>Farzan Mirza</h1></div>
        </div>
        <div class="container1-2">
          <span class="fa-layers fa-fw">
            <i class="fa-regular fa-bell icon3"></i>
            <span
              class="fa-layers-counter icon2"
              style="background: tomato; display: inline"
              >1,419</span
            >
            <h1
              style="color: rgb(33, 168, 230); margin-top: 5px; display: inline"
            >
              Notifications
            </h1>
          </span>

          <div class="container1-2-1">
            <i class="fa-solid fa-brain"> </i>
            <div class="p-div-1">
              <p
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  font-weight: normal;
                "
              >
                Mirza internation added a new documents of Buffcow T1 color
                Brown Invoice <br /><span
                  class="home-span"
                  style="
                    color: rgb(33, 168, 230);
                    font-family: Arial, Helvetica, sans-serif;
                  "
                  >45 minutes ago</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="container1-1">
          <div class="icon1-1">
            <div class="icon1-1-inner "><i class="fa-solid fa-house-user icon1"></i></div>
            <div class="icon1-1-inner-1"><h1>Home</h1></div>
          </div>
        </div>
        <div class="container1-2">
          <span class="fa-layers fa-fw" style="border-bottom: 2px solid rgb(33, 168, 230); width: 200%; ">
            <i class="fa-solid fa-gears icon3"></i>

            <h1
              style="color: rgb(33, 168, 230); margin-top: 5px; display: inline"
            >
              Production
            </h1>
          </span>
          <ul style="list-style: none ;">
            <li><div class="icon1-1-inner-1" style="font-weight: bold;font-size: larger; color:rgb(33, 168, 230);">Dying</div></li>
            <li><div class="icon1-1-inner-1"  style="font-weight: bold; font-size: larger; color: grey;">Finishing</div></li>
            <li><div class="icon1-1-inner-1"  style="font-weight: bold; font-size: larger;">Crusting</div></li>
          </ul>
        </div>

        <div class="container1-1">
          <div class="icon1-1">
            <div class="icon1-1-inner"><i class="fa-solid fa-bug icon1"></i></div>
            <div class="icon1-1-inner-1"><h1>Reports</h1></div>
          </div>
        </div>
        <div class="container1-1">
          <div class="icon1-1">
            <div class="icon1-1-inner"> <i class="fa-solid fa-file icon1"></i></div>
            <div class="icon1-1-inner-1"><h1>Planing</h1></div>
          </div>
        </div>
        <div class="container1-1">
          <div class="icon1-1">
            <div class="icon1-1-inner"><i class="fa-solid fa-coins icon1"></i></div>
            <div class="icon1-1-inner-1"><h1>Finance</h1></div>
          </div>
        </div>
        <div class="container1-1">
          <div class="icon1-1">
            <div class="icon1-1-inner "><i class="fa-solid fa-angle-down icon1"></i></div>
            <div class="icon1-1-inner-1"><h1>See More</h1></div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div class="container2">
      <div class="inner-wrapper">
        <div>
          <div class="header-inner">Tasks</div>
          <div class="task-headings">
            <div class="corner"><</div>
            <div class="taskHeading active">Daily</div>
            <div class="taskHeading">Pending</div>
            <div class="taskHeading">Monthly</div>
            <div class="corner">></div>
          </div>
        </div>
        <div class="inner-body">
          <div class="tab1-block1"></div>
          <div class="tab1-block2"></div>
        </div>
      </div>
    </div>

    <div class="container3">
      <div class="inner-container1">
        <div class="header-inner">Trends</div>
      </div>
      <div class="inner-container2">
        <div class="header-inner">Efficiency</div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <h1>Created By Sandeep</h1>

</div>
